*
  box-sizing: border-box
body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  color: #272727
.container
  max-width: 1107px
  margin: auto
.header
  background-color: #f4f4f4
  padding: 14px 0
  &__logo
    color: #95989a
    font-size: 16px
    font-weight: 700
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
.nav
  flex-basis: 80%
  &__link
    text-decoration: none
    margin-right: 20px
    font-size: 12px
    color: #95989a
.login
  text-decoration: none
  text-transform: uppercase
  font-size: 12px
  color: #95989a
.tabs
  display: flex
  align-items: center
  justify-content: space-between
  &__link
    position: relative
    margin-left: 16px
    text-decoration: none
    font-size: 16px
    color: #272727
    &:after 
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: -14.5px
      width: 0%
      background-color: #FCDE29
      height: 5px
      transition: width .25s
    &:hover:after 
      width: 100%
  &__logo
    font-size: 20px
    color: #95989A
    margin: 0
  &-content 
    background: #F2F4FF url('https://imgur.com/iBd59zk.png') no-repeat bottom right 135px
    padding: 40px 45px
    &__title
      font-size: 36px
      font-weight: bold
    &__subtitle
      font-size: 18px
      max-width: 313px
      margin-bottom: 90px
.button
  font-size: 16px
  font-weight: bold
  background-color: #FCDE29
  border: none
  padding: 15px 33px
  cursor: pointer
  transition: background-color 1s linear
  border-radius: 10px
  &:hover
    background-color: #FCDE2995
